/*
*
* header.css
* @author - Mazeen
* @date - 9 October, 2022
**/

header {
    position: fixed;
    width: 100%;
    padding: 5px;
    box-shadow: 0 13px 20px 0 rgb(128 137 144 / 10%);
    height: 54px;
    z-index: 10;
    background-color: #fff;
}
.logo {
    cursor: pointer;
    padding: 12px;
}
.header-menu {
    margin: 5px;
}
.header-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}
.header-menu a {
    color: #555;
}
.header-menu li span {
    margin-right: 5px;
}
.header-menu li:hover {
    background-color: #f8f8f8;
    padding: 10px;
    transition: 0.4s;
    border-radius: 10px;
}