/*
*
* section.css
* @author - Mazeen
* @date - 9 October, 2022
**/

.section-light {
    background: #fff;
    padding: 70px 15px;
}
.section-dark {
    background: #fafafa;
    padding: 70px 15px;
}
.section-line {
    border-bottom: 1px solid #e0e0e1;
}
.sub-heading {
    font-size: 14px;
    font-weight: 100;
    color: #000;
    line-height: normal;
    margin-bottom: 0 0 20px 0;
}
.about-us-bg {
    position: absolute;
    bottom: 56px;
    width: 60%;
    height: 80%;
    right: 0;
    z-index: 0;
}
.img-position {
    bottom: 120px;
}
.card-container {
    margin-top: 60px;
}
.about-us-iframe {
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.card .card-img {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 25px 25px;
    text-align: center;
    margin-bottom: 25px;
}
.card .card-img img {
    max-height: 220px;
}
.card .card-content p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.card-type-2 {
    border-radius: 16px 16px 0 0;
    cursor: pointer;
    box-shadow: 0 -13px 10px 0 #fafafa;
    background-color: #fafafa;
    padding: 30px 35px 88px 25px;
}
.card-type-2:hover, .active-cell {
    box-shadow: 0 -13px 10px 0 rgb(0 0 0 / 4%); 
    background-color: #fff;
    transition: 0.5s;
}
.help-desk-bg {
    background: #fafafa url(../img/eneterrpise-cta-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.quote-1 {
    right: 500px;
    bottom: 50px;
}
.quote-2 {
    left: 500px;
    top: 50px;
}